{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'financeiro/main.css' %}">

    <title>Sistema Financeiro</title>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <a class="navbar-brand mr-4" href="{% url 'financeiro-home' %}">Home</a>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Cadastros
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="{% url 'clientes-create' %}">Clientes</a>
                              <a class="dropdown-item" href="{% url 'empresas-create' %}">Empresas</a>
                              <a class="dropdown-item" href="{% url 'fornecedores-create' %}">Fornecedores</a>
                              <a class="dropdown-item" href="{% url 'formapagamentos-create' %}">Formas de Pagamento</a>
                              <a class="dropdown-item" href="{% url 'planocontas-create' %}">Plano de Contas</a>
                              <a class="dropdown-item" href="{% url 'contasbancarias-create' %}">Contas Bancárias</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Movimentos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="{% url 'lancamentosreceber-create' %}">Contas a Receber - Lançamentos</a>
                                  <a class="dropdown-item" href="{% url 'baixasreceber-create' %}">Contas a Receber - Baixas</a>
                                  <a class="dropdown-item" href="{% url 'lancamentospagar-create' %}">Contas a Pagar - Lançamentos</a>
                                  <a class="dropdown-item" href="{% url 'baixaspagar-create' %}">Contas a Pagar - Baixas</a>
                                  <a class="dropdown-item" href="{% url 'tesouraria-create' %}">Tesouraria - Movimentos</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Relatórios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="{% url 'lancamentosreceber-details' %}">Contas a Receber - Lançamentos</a>
                                  <a class="dropdown-item" href="{% url 'baixasreceber-details' %}">Contas a Receber - Baixas</a>
                                  <a class="dropdown-item" href="{% url 'lancamentospagar-details' %}">Contas a Pagar - Lançamentos</a>
                                  <a class="dropdown-item" href="{% url 'baixaspagar-details' %}">Contas a Pagar - Baixas</a>
                                  <a class="dropdown-item" href="{% url 'tesouraria-details' %}">Tesouraria - Movimentos</a>
                            </div>
                        </li>
                    </ul>
              </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'profile' %}">{{ user.username }},</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href=" {% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
          <div class="col-md-10">
              {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
              {% endif %}
              {% block content %}{% endblock %}
          </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>